*{
    margin: 0;
    border: 0;
    padding: 0;

}

/* Contenedor Spinner */

.d-none {
    display: none;
}

/* Estilos parala tarjeta de clima */

.contenedor {
    width: 50%;
    /* height: 100vh;  */
    min-height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    background-image: url(/dist/assets/img/nubes.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
    margin: 0 auto;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 300px;
    height: 250px;
    background: rgba(255, 255, 255, 0.15);
    color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    left: 0;
    top: 0;
}

.tarjeta h1{
    width: 80%;
    margin-inline: auto;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}

.tarjeta img{
    background-color: red;
    position: absolute;
    background-color: rgb(255, 238, 0);
    border-radius: 50%;
    top: -40px;
    right: -50px;
}

.tarjeta p {
    border-bottom: 5px solid #ffebeb00;
    font-size: 80px;
    
}

.detalles {
display: flex;
width: 80%;
justify-content: space-between;
list-style: none;
padding-left: 0%;

}

.detalles li{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    

}

.detalle__titulo {
    font-size: 15px;
    
    color : rgba(70,70, 70, 0.52);

}

.palabras{
  text-align: justify;
  font-size: 20px;
}